/* custom css */
.flex {
    display: flex;
}

.items-center {
    -webkit-box-align: center;
    align-items: center
}

.card {
    max-width: 967px;
    margin: auto;
    padding: 20px; 
}

.w-full {
    width: 100%;
}

.list  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 20%;
    margin: 10px;
    padding: 4px;
}

.text-10 {
    font-size: 1rem;
}

.w-1\/3 {
    width: 66.6%;
}

.ml-4 {
    margin-left: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.mt-10 {
    margin-top: 10px
}

.mr-20 {
    margin-right: 20px;
}

.p-8 {
    padding: 8px;
}

.select-user-investment {
    width: 50%;
    padding: 20px;
    padding-right: 25px;
}

.custom-blue {
    color: #28348b;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    .item {
        width: 100%;
        margin: 10px;
        padding: 4px;
    }
    .select-user-investment {
        width: 100%;
        padding: 2px;
        padding-right: 2px;
    }
}